* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato";
}

body {
    width: 60%;
    margin: auto;
    text-align: center;
}

.bg {

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -10;
    height: 100%;
    width: 100%;
    object-fit: cover;

}

/*).overlay {
    position: absolute;
    z-index: -9;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.8);

}(*/

h1 {
    color: black;
}

button {
    background-color: rgb(255, 242, 128);
    color: #3a3a3a;
    border-radius: 10px;
    font-size: large;
    padding: 10px 20px;
    margin-top: 30px;
    cursor: pointer;
    
}

button:hover {
    background-color: rgb(246,189,32);
}

#wrapper {
    background-color: #e7c859;
    color: #f9fbfd;
    width: 60%;
    margin: 40px auto 100px auto;
    border-radius: 10px;
    padding: 40px 40px;
    border: 5px solid #d0b349;
}

h2 {
    font-size: 20px;
}

img {
    height: 220px;
    width: auto;
}

p {
    font-size: 15px;
}